* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crete Round", serif;
}

/* header section */
header {
  background: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  height: 75px;
}

.fsnav .fsnav-link {
  display: inline-block;
  padding: 20px 5px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

#dateFormat {
  margin-left: 60%;
  font-size: 20px;
  padding: 5px;
}

.page {
  display: none;
  margin: 1rem;
  padding: 1rem;
}

.container {
  width: 50%;
  padding: 1rem;
  justify-content: center;
  background-color: #fff;
  text-align: center;
}

table {
  width: 40vw;
  padding: 1rem;
  border: 1px solid #000;
}

#listSection {
  margin-left: 30%;
}

td {
  padding: 1rem;
}

tr {
  font-weight: 600;
}

tr:nth-child(odd) {
  background-color: #dcdcdc;
}

.form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.contactSection h2 {
  font-weight: 900;
  text-align: center;
  margin-bottom: 3vh;
}

#book-form h2 {
  text-align: center;
}

.form-title {
  margin: 5vh 0;
}

.form-control {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.border {
  border: solid 1px black;
}

.book-list a {
  text-decoration: none;
  background: #f5f5f0;
  color: #000;
  padding: 14px 20px;
  margin-left: 20%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  background: #f5f5f0;
  color: #000;
  padding: 14px 20px;
  margin-left: 46%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contactSection span {
  font-weight: 600;
}

.contactSection div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contactSection ul {
  list-style: square;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  background-color: lightgray;
  color: #000;
  margin-top: 20%;
  text-align: center;
  font-size: 17px;
  font-weight: 900;
  height: 10vh;
}

footer p {
  padding: 3.5vh 0;
}
